{
  "localhost": {
    "email": "<EMAIL>",
    "gh-username": "<GITHUB_USERNAME>",
    "gh-token": "Bearer <GITHUB_TOKEN>",
    "aws-client-id": "<AWS_CLIENT_ID>",
    "aws-secret": "<AWS_SECRET>"
  }
}
